.CreateAccountContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/sfondoWorkout.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin: 0;
  padding: 0;
}

.mainTitle {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
    -2px 2px 0 #000000;
}
.CreateAccountCard {
  width: 500px;
  padding: 20px;
  background: rgba(70, 154, 180, 0.75);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi all'interno della card */
  justify-content: center;
}
.CreateAccountTitle {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.CreateAccountTitle img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
}
.husername {
  margin-left: 160px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px; /* Spazio tra il titolo e l'input */
  align-self: flex-start; /* Allineamento a sinistra per il testo */
}

.inputusernameCreate {
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 0;
}
.divDati {
  display: flex;
  gap: 20px; /* Spazio tra ogni elemento */
}
.wrapper {
  display: flex;
  flex-direction: column;
}
.hnomeCreate {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 3px;
}
.inputName {
  width: 200px;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 0;
}

.buttonCreateAccount {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #fff;
  background: #293aa5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (orientation: portrait) {
}

@media only screen and (orientation: landscape) {
}
