* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita lo scroll orizzontale */
}

.nonnoCreate::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.nonnoCreate::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
}

.nonnoCreate::-webkit-scrollbar-thumb {
  background: rgba(40, 81, 226, 0.8);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.bisnonnoCreate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 10vh auto;
  padding: 25px;
  max-width: 100vw;
  background: rgba(70, 154, 180, 0.6);
  backdrop-filter: blur(7.5px);
  border-radius: 15px;
  overflow-x: auto;
  margin-top: 12vh;
  box-sizing: border-box;
}

.genitoreschedeCreate {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.inputSettimanaCreate {
  background-color: #d0d0e7;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
}

.inputSettimanaCreate:focus {
  border-color: #15a796;
}

.eserciziTableContainerCreate {
  width: 100%;
  overflow-x: auto;
  margin-top: 10px;
}

.eserciziTableCreate {
  width: max-content;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
  border-spacing: 0;
}

.eserciziTableCreate th,
.eserciziTableCreate td {
  padding: 20px;
  text-align: center;
  border: 1px solid #ddd;
  min-width: 100px;
  white-space: nowrap;
}

.eserciziTableCreate th {
  font-size: 16px;
  background-color: #15a796;
  color: white;
}

.eserciziTableCreate td {
  background-color: #d0d0e7;
  font-weight: bold;
  color: #333;
}

.SelezioneEsercizio {
  font-size: 16px;
  background-color: #f9fafc;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  outline: none;
}

.SelezioneEsercizio:hover {
  border-color: #15a796; /* Cambio colore al passaggio */
}

.SelezioneEsercizio:focus {
  border-color: #15a796;
  box-shadow: 0 0 5px rgba(21, 167, 150, 0.5); /* Effetto focus */
}

/* freccia personalizzata */
.SelezioneEsercizio {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="black"><path d="M5 7l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  padding-right: 30px;
  font-weight: bold;
}
.SetReps {
  font-size: 16px;
  background-color: #f9fafc;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  color: #333;
  transition: border-color 0.3s, box-shadow 0.3s;
  outline: none;
  font-weight: bold;
  text-align: center;
}

.SetReps:hover {
  border-color: #15a796;
}

.SetReps:focus {
  border-color: #15a796;
  box-shadow: 0 0 5px rgba(21, 167, 150, 0.5);
}

.youfiglioCreate {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d0e7;
  padding: 8px;
  font-size: 14px;
  color: #244cb4;
  font-weight: bold;
  text-decoration: none;
}

.youfiglioCreate:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .genitoreschedeCreate {
    flex-direction: column;
    gap: 10px;
  }

  .inputSettimanaCreate {
    width: 100%;
  }

  .eserciziTableCreate {
    font-size: 12px;
  }

  .bisnonnoCreate {
    margin-top: 14vh;
    padding: 5px;
    overflow-x: auto;
  }

  .eserciziTableCreate th,
  .eserciziTableCreate td {
    min-width: 80px;
    padding: 5px;
  }

  .youfiglioCreate {
    font-size: 12px;
  }
}

.buttonAdd,
.buttonSalva {
  width: 80%;
  max-width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonAdd {
  background: #293aa5;
}

.buttonSalva {
  background: #3ea5298e;
}

.buttonRemove {
  font-weight: bold;
  background: #8bbc22;
  font-size: 100%;
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}
