.loginContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/sfondoWorkout.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin: 0;
  padding: 0;
}

.mainTitle {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
    -2px 2px 0 #000000;
}
.loginCard {
  width: 500px;
  padding: 20px;
  background: rgba(70, 154, 180, 0.75);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi all'interno della card */
  justify-content: center;
}
.loginTitle {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.passwordlogin {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.hmaillogin {
  display: flex;
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 0px; /* Spazio tra il titolo e l'input */
}
.hpasswordlogin {
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
}
.inputPassword {
  width: 100%;
  height: 30px;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
  margin: 0; /* Rimuove ogni margine */
}

.forgotPassword {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  align-self: flex-end;
  margin: 5px;
  padding: 0; /* Rimuove ogni padding */
  cursor: pointer;
}
.inputEmail {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
}

.buttonLogin {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #fff;
  background: #293aa5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notalreadyAccount {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #000;
  margin-top: 30px;
  text-align: center;
  display: flex; /* Impostato su flex per allineare il testo e il pulsante sulla stessa riga */
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
}
.buttonIscriviti {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #293aa5;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Distanza tra il testo e il pulsante */
  text-align: center;
}

@media only screen and (orientation: portrait) {
  .loginContainer {
    padding: 0; /* Rimuoviamo il padding aggiuntivo */
    margin: 0; /* Rimuoviamo il margine che potrebbe essere presente */
    min-height: 100vh; /* Usa min-height per garantire che il contenitore occupi almeno l'altezza della finestra */
    background-size: cover; /* Assicuriamoci che l'immagine copra l'intero contenitore */
    background-position: center; /* Centra l'immagine */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .loginCard {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px; /* Distanza dal fondo */
  }

  .mainTitle {
    font-size: 36px;
  }

  .loginTitle {
    font-size: 24px;
  }
  .loginTitle img {
    top: 10px;
  }

  .inputEmail,
  .inputPassword {
    font-size: 18px;
    padding: 8px;
  }

  .buttonLogin {
    height: 40px;
    font-size: 20px;
  }

  .notalreadyAccount {
    font-size: 20px;
    flex-direction: column;
  }

  .buttonIscriviti {
    font-size: 22px;
    margin-top: 10px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
  .loginContainer {
    padding: 0; /* Rimuoviamo il padding aggiuntivo */
    margin: 0; /* Rimuoviamo il margine che potrebbe essere presente */
    min-height: 100vh; /* Usa min-height per garantire che il contenitore occupi almeno l'altezza della finestra */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover; /* Assicuriamoci che l'immagine copra l'intero contenitore */
    background-position: center; /* Centra l'immagine */
  }

  .loginCard {
    width: 80%;
    padding: 20px;
  }

  .mainTitle {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .loginTitle {
    font-size: 26px;
  }

  .inputEmail,
  .inputPassword {
    font-size: 18px;
    padding: 10px;
  }

  .buttonLogin {
    width: 60%;
    height: 45px;
    font-size: 22px;
  }

  .notalreadyAccount {
    font-size: 22px;
    flex-direction: row;
  }

  .buttonIscriviti {
    font-size: 20px;
    margin-left: 5px;
  }
}
