.buttonLogout {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.buttonHome:hover,
.buttonCreaScheda:hover,
.buttonLogout:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
  filter: brightness(1.2);
}
.imma {
  display: block;
  width: 70px;
  height: 70px;
  object-fit: contain;
  border-radius: 12px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.buttonCreaScheda {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.buttonHome {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-left: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
.divLogCre {
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  /* Posizionamento */
  position: fixed;
  top: 0;
  left: 0;
  /* Dimensioni */
  width: 100%; /* Usa il 100% invece di 100vw per evitare lo scroll orizzontale */
  max-width: 100%; /* Previene eventuali overflow */
  height: 10vh;
  /* Box Model */
  box-sizing: border-box; /* Assicura che padding non influisca sulla larghezza */
  margin: 0;
  overflow: hidden; /* Evita possibili scroll */
}

/* Adattamenti per dispositivi mobili */
@media (max-width: 768px) {
  .divLogCre {
    height: 12vh; /* Leggermente più alto su schermi piccoli */
    gap: 10px;
    padding: 5px;
  }
}
