* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Evita lo scroll orizzontale generale */
}

.nonno::-webkit-scrollbar {
  width: 10px;
  height: 8px;
}

.nonno::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.3);
  border-radius: 10px;
}

.nonno::-webkit-scrollbar-thumb {
  background: rgba(40, 81, 226, 0.8);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.bisnonno {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  margin: 10vh auto;
  padding: 25px;
  max-width: 100vw;
  background: rgba(70, 154, 180, 0.6);
  backdrop-filter: blur(7.5px);
  border-radius: 15px;
  overflow-x: auto; /* Permette lo scorrimento orizzontale se necessario */
  margin-top: 12vh;
  box-sizing: border-box;
}

.genitoreschede {
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Evita sovrapposizione su schermi piccoli */
  justify-content: center;
  align-items: center;
}

.inputSettimana {
  background-color: #d0d0e7;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  border: 1px solid #ccc;
  outline: none;
}

.inputSettimana:focus {
  border-color: #15a796;
}

.eserciziTableContainer {
  width: 100%;
  overflow-x: auto; /* Scroll orizzontale se necessario */
  margin-top: 10px;
}

.eserciziTable {
  width: max-content;
  border-collapse: collapse;
  font-size: 14px;
  border-radius: 5px;
  overflow: hidden;
  border-spacing: 0;
}

.eserciziTable th,
.eserciziTable td {
  padding: 30px;
  text-align: center;
  border: 1px solid #ddd;
  min-width: 100px;
  white-space: nowrap; /* Evita il wrapping del testo */
}

.eserciziTable th {
  font-size: 16px;
  background-color: #15a796;
  color: white;
}

.eserciziTable td {
  background-color: #d0d0e7;
  font-weight: bold;
  color: #333;
}

.youfiglio {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d0d0e7;
  padding: 8px;
  font-size: 14px;
  color: #244cb4;
  font-weight: bold;
  text-decoration: none;
}

.youfiglio:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .genitoreschede {
    flex-direction: column;
    gap: 10px;
  }

  .inputSettimana {
    width: 100%;
  }
  .eserciziTable {
    font-size: 12px;
  }
  .bisnonno {
    margin-top: 14vh;
    padding: 5px;
    overflow-x: auto;
  }

  .eserciziTable th,
  .eserciziTable td {
    min-width: 80px;
    padding: 5px;
  }

  .youfiglio {
    font-size: 12px;
  }
}
