/* Container principale con sfondo */
.signUpContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url("../assets/sfondoWorkout.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 5px;
  margin: 0;
  padding: 0;
}

.mainTitle {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 10px;
  text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000,
    -2px 2px 0 #000000;
}

/* Card principale per il form */
.signUpCard {
  width: 500px;
  padding: 20px;
  background: rgba(70, 154, 180, 0.75);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra gli elementi all'interno della card */
  justify-content: center;
}

/* Titolo Sign-Up centrato */
.signupTitle {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  color: #000;
  text-align: center;
  margin-bottom: 10px;
}
.signupTitle img {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
  height: auto;
}
.hmailsignup {
  display: flex;
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 0;
  align-self: flex-start; /* Allineamento a sinistra per il testo */
}
.hpasswordsignup {
  display: flex;
  margin-left: 15px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #000;
  margin-bottom: 5px;
  align-self: flex-start; /* Allineamento a sinistra per il testo */
}

/* Stile per l'input Email */
.inputEmail {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Stile per l'input Password */
.inputPassword {
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 10px;
  font-size: 20px;
  color: #000;
  background: #d0d0e7;
  border-radius: 20px;
  border: none;
  outline: none;
}

/* Bottone principale di Signup centrato */
.buttonSignUp {
  width: 150px;
  height: 50px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #fff;
  background: #293aa5;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Testo secondario per l'opzione di Login centrato */
.alreadyAccount {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #000;
  margin-top: 30px;
  text-align: center;
  display: flex; /* Impostato su flex per allineare il testo e il pulsante sulla stessa riga */
  justify-content: center; /* Centra gli elementi orizzontalmente */
  align-items: center; /* Centra gli elementi verticalmente */
}

/* Bottone secondario per Login centrato */
.buttonEffettuaLogin {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 28px;
  color: #293aa5;
  background: none;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Distanza tra il testo e il pulsante */
  text-align: center;
}

@media only screen and (orientation: portrait) {
  .signUpContainer {
    padding: 0; /* Rimuoviamo il padding aggiuntivo */
    margin: 0; /* Rimuoviamo il margine che potrebbe essere presente */
    min-height: 100vh; /* Usa min-height per garantire che il contenitore occupi almeno l'altezza della finestra */
    background-size: cover; /* Assicuriamoci che l'immagine copra l'intero contenitore */
    background-position: center; /* Centra l'immagine */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .signUpCard {
    width: 90%;
    padding: 15px;
    margin-bottom: 20px; /* Distanza dal fondo */
  }

  .mainTitle {
    font-size: 36px;
  }

  .signupTitle {
    font-size: 24px;
  }
  .signupTitle img {
    top: 10px;
  }

  .inputEmail,
  .inputPassword {
    font-size: 18px;
    padding: 8px;
  }

  .buttonSignUp {
    height: 40px;
    font-size: 20px;
  }

  .alreadyAccount {
    font-size: 20px;
    flex-direction: column;
  }

  .buttonEffettuaLogin {
    font-size: 22px;
    margin-top: 10px;
  }
}

@media only screen and (orientation: landscape) and (max-width: 768px) {
  .signUpContainer {
    padding: 0; /* Rimuoviamo il padding aggiuntivo */
    margin: 0; /* Rimuoviamo il margine che potrebbe essere presente */
    min-height: 100vh; /* Usa min-height per garantire che il contenitore occupi almeno l'altezza della finestra */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-size: cover; /* Assicuriamoci che l'immagine copra l'intero contenitore */
    background-position: center; /* Centra l'immagine */
  }

  .signUpCard {
    width: 80%;
    padding: 20px;
  }

  .mainTitle {
    font-size: 40px;
    margin-bottom: 15px;
  }

  .signupTitle {
    font-size: 26px;
  }

  .inputEmail,
  .inputPassword {
    font-size: 18px;
    padding: 10px;
  }

  .buttonSignUp {
    width: 60%;
    height: 45px;
    font-size: 22px;
  }

  .alreadyAccount {
    font-size: 22px;
    flex-direction: row;
  }

  .buttonEffettuaLogin {
    font-size: 20px;
    margin-left: 5px;
  }
}
